<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>undefined</title>
  <meta name="generator" content="Google Web Designer 14.0.2.0928">
  <style type="text/css" id="gwd-text-style">
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }
  </style>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
      background-color: rgb(223, 223, 223);
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
    }
    .gwd-div-13ok {
      position: absolute;
      width: 200px;
      background-image: none;
      background-color: rgb(65, 64, 64);
      height: 37%;
      top: 148px;
      left: 50%;
      transform: translate3d(-100px, 0px, 0px);
      transform-style: preserve-3d;
    }
    .gwd-img-ga6q {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 34px;
      left: 50%;
      transform: translate3d(-25px, 0px, 0px);
      transform-style: preserve-3d;
    }
    .gwd-p-1hjm {
      position: absolute;
      color: rgb(255, 255, 255);
      left: 72px;
      top: 30px;
      font-family: Lato;
    }
    .gwd-span-15em {
      top: 94px;
      left: 50%;
      transform: translate3d(-39px, 0px, 0px);
      transform-style: preserve-3d;
    }
    .gwd-button-1jd4 {
      position: absolute;
      width: 100px;
      top: 250px;
      background-image: none;
      background-color: rgb(206, 26, 26);
      left: 50%;
      transform-style: preserve-3d;
      height: 50px;
      transform: translate3d(-50px, -13px, 0px);
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
</head>

<body class="htmlNoPages" id="body">
  <div class="gwd-div-13ok" id="menuframe"></div>
  <img class="gwd-img-ga6q" src="https://ilensvision.com/avatar.png"><span class="gwd-p-1hjm gwd-span-15em">ADELLENS</span>
  <form action="http://192.168.1.115:3000/apps" method="post">
    <input type="hidden" id="custId" name="active" value="inactive">
    <button id="button_1" type="submit" class="gwd-button-1jd4">inactive</button>
  </form>
  
</body>

</html>