<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>undefined</title>
  <meta name="generator" content="Google Web Designer 14.0.0.0820">
  <style type="text/css" id="gwd-text-style">
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }
  </style>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
      background-color: rgb(223, 223, 223);
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
    }
    .gwd-div-13ok {
      position: absolute;
      top: 0px;
      width: 200px;
      height: 100%;
      background-image: none;
      background-color: rgb(65, 64, 64);
      left: 0px;
    }
    .gwd-div-b8as {
      position: absolute;
      height: 54.6667px;
      width: 170px;
      top: 13px;
      left: 14px;
    }
    .gwd-img-ga6q {
      position: absolute;
      left: 14px;
      top: 13px;
      width: 50px;
      height: 50px;
    }
    .gwd-p-1hjm {
      position: absolute;
      color: rgb(255, 255, 255);
      left: 72px;
      top: 30px;
      font-family: Lato;
    }
    .gwd-div-1a97 {
      position: absolute;
      top: 13px;
      left: 224px;
      background-image: none;
      background-color: rgb(232, 232, 232);
      width: 160px;
      height: 70px;
      border-radius: 10px;
    }
    .gwd-p-1gug {
      position: absolute;
      font-family: Lato;
      font-size: 11px;
      left: 304px;
      top: 23px;
    }
    .gwd-p-14fi {
      left: 297px;
    }
    .gwd-div-o0jx {
      left: 397px;
      width: 400px;
      height: 400px;
    }
    .gwd-p-1ng3 {
      font-weight: bold;
      color: rgb(243, 153, 39);
    }
    .gwd-img-kbmb {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 36px;
      left: 410px;
    }
    .gwd-div-16yf {
      height: 80px;
      width: 400px;
    }
    .gwd-p-38ez {
      color: rgb(43, 49, 72);
      top: 53px;
    }
    .gwd-p-10bc {
      color: rgb(89, 121, 243);
      font-size: 20px;
      left: 346px;
      top: 56px;
    }
    .gwd-p-1r52 {
      top: 53px;
    }
    .gwd-img-gasa {
      position: absolute;
      left: 14px;
      top: 84px;
      width: 30px;
      height: 30px;
    }
    .gwd-img-16td {
      top: 125px;
    }
    .gwd-span-1kry {
      left: 60px;
      top: 95px;
      font-weight: 100;
      font-size: 14px;
    }
    .gwd-span-1ncz {
      top: 138px;
    }
    .gwd-div-7auq {
      left: 224px;
      top: 108px;
    }
    .gwd-img-14nf {
      left: 234px;
      top: 29px;
    }
    .gwd-p-1rf9 {
      font-size: 16px;
      left: 235px;
      top: 116px;
    }
    .gwd-p-1w1b {
      left: 281px;
      top: 17px;
    }
    .gwd-p-1g0v {
      left: 281px;
      top: 33px;
    }
    .gwd-p-ai47 {
      left: 281px;
      top: 62px;
    }
    .gwd-p-1di3 {
      left: 309px;
      top: 113px;
    }
    .gwd-p-1xhd {
      left: 361px;
      top: 56px;
    }
    .gwd-button-r491 {
      position: absolute;
      height: 24px;
      width: 70px;
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: transparent;
      border-radius: 5px;
      background-image: none;
      background-color: rgb(54, 227, 23);
      font-family: Lato;
      color: rgb(239, 240, 241);
      left: 542px;
      top: 22px;
    }
    .gwd-p-1rrd {
      left: 393px;
      top: 23px;
    }
    .gwd-p-1nrh {
      top: 49px;
    }
    .gwd-p-1i2c {
      left: 480px;
      top: 17px;
      background-image: none;
      background-color: transparent;
      color: rgb(52, 250, 46);
    }
    .gwd-p-18v8 {
      color: rgb(250, 77, 46);
      font-size: 14px;
      left: 472px;
      top: 45px;
    }
    .gwd-p-18px {
      font-size: 14px;
      left: 472px;
      top: 20px;
    }
    .gwd-p-1gk5 {
      top: 53px;
    }
    .gwd-p-1bwm {
      left: 340px;
    }
    .gwd-p-g6k7 {
      left: 455px;
      top: 114px;
    }
    .gwd-div-1qxk {
      position: absolute;
      background-image: none;
      background-color: rgb(83, 83, 83);
      height: 60px;
      width: 370px;
      border-radius: 10px;
      left: 239px;
      top: 157px;
    }
    .gwd-img-wmnb {
      position: absolute;
      height: 40px;
      width: 40px;
      left: 258px;
      top: 166px;
    }
    .gwd-span-1lcw {
      position: absolute;
      font-family: Lato;
      color: rgb(255, 255, 255);
      font-weight: 100;
      font-size: 11px;
      top: 166px;
      left: 306px;
    }
    .gwd-span-dhvn {
      color: rgb(25, 236, 46);
      font-weight: normal;
      left: 307px;
      top: 189px;
    }
    .gwd-span-1a83 {
      top: 170px;
    }
    .gwd-span-1y6b {
      left: 388px;
      font-weight: 300;
    }
    .gwd-span-1jfb {
      left: 390px;
    }
    .gwd-span-1kz8 {
      font-weight: 300;
    }
    .gwd-span-1sxj {
      left: 453px;
    }
    .gwd-span-1kor {
      left: 386px;
    }
    .gwd-span-16ee {
      color: rgb(236, 43, 25);
      left: 459px;
    }
    .gwd-button-oc9a {
      left: 542px;
      top: 22px;
    }
    .gwd-button-98r1 {
      position: absolute;
      width: 60px;
      height: 20px;
      border-radius: 5px;
      border-image-source: none;
      border-image-width: 1;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-color: transparent;
      background-image: none;
      background-color: rgb(67, 241, 36);
      left: 512px;
      top: 166px;
    }
    .gwd-button-a150 {
      background-color: rgb(241, 63, 36);
      font-size: 10px;
      color: rgb(248, 247, 247);
      width: 45px;
      height: 20px;
      top: 190px;
      left: 508px;
    }
    .gwd-button-1rth {
      font-size: 10px;
      color: rgb(241, 239, 238);
      width: 45px;
      height: 20px;
      left: 508px;
      top: 163px;
    }
    .gwd-img-1jwj {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 166px;
      left: 570px;
    }
    .gwd-span-fh68 {
      font-size: 8px;
      font-weight: 100;
      top: 197px;
      left: 560px;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
</head>

<body class="htmlNoPages" id="body">
  <div class="gwd-div-13ok" id="menuframe"></div>
  <div class="gwd-div-b8as" id="logodiv"></div>
  <img class="gwd-img-ga6q" src="https://ilensvision.com/assets/avatar.png"><span class="gwd-p-1hjm">ADELLENS</span>
  <span class="gwd-p-1hjm gwd-span-1kry">Profile</span><span class="gwd-p-1hjm gwd-span-1kry gwd-span-1ncz">Settings</span>
  <div class="gwd-div-1a97 gwd-div-16yf"></div>
  <div class="gwd-div-1a97 gwd-div-o0jx gwd-div-7auq"></div>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-1w1b">Acanting Office</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-1r52 gwd-p-ai47">Doors Number</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-1r52 gwd-p-ai47 gwd-p-1rrd">Active doors</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-1r52 gwd-p-ai47 gwd-p-1rrd gwd-p-1nrh">Inactive doors</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-1r52 gwd-p-1g0v">Doors System</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-1r52 gwd-p-1rf9">On Work</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-1r52 gwd-p-1rf9 gwd-p-1bwm">All Personnel</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-10bc gwd-p-1xhd gwd-p-1gk5">3</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-10bc gwd-p-1xhd gwd-p-1i2c gwd-p-18px">2</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-10bc gwd-p-1xhd gwd-p-1i2c gwd-p-18v8">1</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-10bc gwd-p-1di3">8</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-10bc gwd-p-1di3 gwd-p-g6k7">12</p>
  <img class="gwd-img-kbmb gwd-img-14nf" src="https://ilensvision.com/assets/door-icon.png">
  <img class="gwd-img-gasa" src="https://ilensvision.com/assets/profile.png">
  <img class="gwd-img-gasa gwd-img-16td" src="https://ilensvision.com/assets/Settings.png">
  <button id="button_1" class="gwd-button-r491"><%= val[0].active %></button>
  <button id="button_2" class="gwd-button-r491 gwd-button-oc9a"><%= val[0].active %></button>
  <div class="gwd-div-1qxk"></div>
  <img class="gwd-img-wmnb" src="https://ilensvision.com/assets/avatarp.png"><span class="gwd-span-1lcw gwd-span-1a83 gwd-span-1kz8">Faik baharglu</span><span class="gwd-span-1lcw gwd-span-1a83 gwd-span-1y6b gwd-span-1kor">Login Time</span><span class="gwd-span-1lcw gwd-span-1a83 gwd-span-1y6b gwd-span-1sxj">Exit Time</span><span class="gwd-span-1lcw gwd-span-1a83 gwd-span-1y6b gwd-span-1sxj gwd-span-fh68">dependencies</span><span class="gwd-span-1lcw gwd-span-dhvn">On&nbsp; Romm</span><span class="gwd-span-1lcw gwd-span-dhvn gwd-span-1jfb">09:05:43</span><span class="gwd-span-1lcw gwd-span-dhvn gwd-span-1jfb gwd-span-16ee">--:--:--</span>
  <button id="button_3" class="gwd-button-98r1 gwd-button-1rth">Unlock</button>
  <button id="button_4" class="gwd-button-98r1 gwd-button-a150">Lock</button>
  <img class="gwd-img-1jwj" src="https://ilensvision.com/assets/Settings.png">
</body>

</html>