<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>undefined</title>
  <meta name="generator" content="Google Web Designer 14.0.0.0820">
  <style type="text/css" id="gwd-text-style">
    p {
      margin: 0px;
    }
    h1 {
      margin: 0px;
    }
    h2 {
      margin: 0px;
    }
    h3 {
      margin: 0px;
    }
  </style>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
      background-color: rgb(223, 223, 223);
      transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transform-style: preserve-3d;
    }
    .gwd-div-13ok {
      position: absolute;
      top: 0px;
      width: 200px;
      height: 100%;
      background-image: none;
      background-color: rgb(65, 64, 64);
      left: 0px;
    }
    .gwd-div-b8as {
      position: absolute;
      height: 54.6667px;
      width: 170px;
      top: 13px;
      left: 14px;
    }
    .gwd-img-ga6q {
      position: absolute;
      left: 14px;
      top: 13px;
      width: 50px;
      height: 50px;
    }
    .gwd-p-1hjm {
      position: absolute;
      color: rgb(255, 255, 255);
      left: 72px;
      top: 30px;
      font-family: Lato;
    }
    .gwd-div-1a97 {
      position: absolute;
      top: 13px;
      left: 224px;
      background-image: none;
      background-color: rgb(232, 232, 232);
      width: 160px;
      height: 70px;
      border-radius: 10px;
    }
    .gwd-img-1lyu {
      position: absolute;
      width: 50px;
      height: 50px;
      left: 235px;
      top: 23px;
    }
    .gwd-p-1gug {
      position: absolute;
      font-family: Lato;
      font-size: 11px;
      left: 304px;
      top: 23px;
    }
    .gwd-div-1rkc {
      top: 105px;
      height: 80px;
    }
    .gwd-img-jssg {
      top: 115px;
    }
    .gwd-p-czrl {
      top: 115px;
      left: 297px;
      color: rgb(243, 153, 39);
      font-weight: bold;
    }
    .gwd-p-14fi {
      left: 297px;
    }
    .gwd-div-o0jx {
      left: 397px;
      width: 300px;
      height: 80px;
    }
    .gwd-p-1my8 {
      left: 408px;
      color: rgb(243, 153, 39);
      top: 15px;
    }
    .gwd-p-1ng3 {
      font-weight: bold;
      color: rgb(243, 153, 39);
    }
    .gwd-img-kbmb {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 36px;
      left: 410px;
    }
    .gwd-div-16yf {
      height: 80px;
    }
    .gwd-img-3oi2 {
      left: 476px;
    }
    .gwd-p-1nuk {
      color: rgb(34, 248, 44);
      font-size: 10px;
      left: 415px;
      top: 78px;
    }
    .gwd-p-38ez {
      color: rgb(43, 49, 72);
      top: 53px;
    }
    .gwd-p-10bc {
      left: 358px;
      color: rgb(89, 121, 243);
      font-size: 20px;
      top: 44px;
    }
    .gwd-p-1r52 {
      top: 53px;
    }
    .gwd-p-lo5l {
      top: 145px;
    }
    .gwd-p-1acu {
      color: rgb(89, 121, 243);
      font-size: 20px;
      left: 358px;
      top: 134px;
    }
    .gwd-p-1sax {
      color: rgb(43, 49, 72);
    }
    .gwd-p-12s4 {
      left: 482px;
    }
    .gwd-div-nq8n {
      top: 105px;
    }
    .gwd-div-uh1n {
      top: 105px;
    }
    .gwd-p-uccz {
      top: 107px;
    }
    .gwd-p-118f {
      top: 170px;
      color: rgb(248, 52, 34);
      left: 412px;
    }
    .gwd-p-1kox {
      top: 170px;
    }
    .gwd-img-1hbp {
      top: 128px;
    }
    .gwd-img-vmxb {
      top: 128px;
    }
    .gwd-div-1wh0 {
      left: 320px;
      top: 220px;
    }
    .gwd-img-6tjw {
      position: absolute;
      width: 50px;
      height: 49.6667px;
      top: 235px;
      left: 358px;
    }
    .gwd-span-4ops {
      position: absolute;
      font-family: Lato;
      color: rgb(38, 58, 111);
      font-size: 20px;
      top: 248px;
      left: 429px;
    }
    .gwd-img-gasa {
      position: absolute;
      left: 14px;
      top: 84px;
      width: 30px;
      height: 30px;
    }
    .gwd-img-16td {
      top: 125px;
    }
    .gwd-span-1kry {
      left: 60px;
      top: 95px;
      font-weight: 100;
      font-size: 14px;
    }
    .gwd-span-1ncz {
      top: 138px;
    }
    .gwd-img-7x39 {
      width: 25px;
      height: 25px;
      left: 591px;
      top: 42px;
    }
    .gwd-p-1kux {
      left: 622px;
      top: 48px;
    }
    .gwd-img-33jb {
      width: 25px;
      height: 25px;
      left: 591px;
      top: 131px;
    }
    .gwd-p-a61n {
      left: 622px;
      top: 135px;
    }
    .gwd-img-1cxk {
      left: 536px;
    }
    .gwd-p-ar93 {
      left: 542px;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
</head>

<body class="htmlNoPages" id="body">
  <div class="gwd-div-13ok" id="menuframe"></div>
  <div class="gwd-div-b8as" id="logodiv"></div>
  <img class="gwd-img-ga6q" src="https://foodzila.iran.liara.run/files/baners/2.png"><span class="gwd-p-1hjm">ADELLENS</span>
  <span class="gwd-p-1hjm gwd-span-1kry">Profile</span><span class="gwd-p-1hjm gwd-span-1kry gwd-span-1ncz">Settings</span>
  <div class="gwd-div-1a97 gwd-div-16yf"></div>
  <div class="gwd-div-1a97 gwd-div-o0jx"></div>
  <div class="gwd-div-1a97 gwd-div-o0jx"></div>
  <img class="gwd-img-1lyu" src="assets/officelogo.png">
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3">Acanting Office</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez">On Work</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-1r52">On Work</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1ng3 gwd-p-38ez gwd-p-10bc"><%= name %></p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8">Devices</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-1kux">Add Device</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-1nuk">Active</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-1nuk gwd-p-12s4">Active</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-1nuk gwd-p-12s4 gwd-p-ar93">Active</p>
  <div class="gwd-div-1a97 gwd-div-1rkc"></div>
  <img class="gwd-img-1lyu gwd-img-jssg" src="assets/officelogo.png">
  <p class="gwd-p-1gug gwd-p-czrl">Developer Office</p>
  <p class="gwd-p-1gug gwd-p-czrl gwd-p-lo5l gwd-p-1sax">On Work</p>
  <p class="gwd-p-1gug gwd-p-czrl gwd-p-lo5l gwd-p-1acu">5</p>
  <img class="gwd-img-kbmb" src="assets/door-icon.png">
  <img class="gwd-img-kbmb gwd-img-3oi2" src="assets/camra.png">
  <img class="gwd-img-kbmb gwd-img-3oi2 gwd-img-1cxk" src="assets/time-and-attendance-system.png">
  <img class="gwd-img-kbmb gwd-img-3oi2 gwd-img-7x39" src="assets/plus-icon-vector.png">
  <div class="gwd-div-1a97 gwd-div-o0jx gwd-div-nq8n"></div>
  <div class="gwd-div-1a97 gwd-div-o0jx gwd-div-uh1n"></div>
  <div class="gwd-div-1a97 gwd-div-o0jx gwd-div-uh1n gwd-div-1wh0"></div>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-uccz">Devices</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-uccz gwd-p-a61n">Add Device</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-1nuk gwd-p-118f">Inactive</p>
  <p class="gwd-p-1gug gwd-p-14fi gwd-p-1my8 gwd-p-1nuk gwd-p-12s4 gwd-p-1kox">Active</p>
  <img class="gwd-img-kbmb gwd-img-1hbp" src="assets/door-icon.png">
  <img class="gwd-img-kbmb gwd-img-3oi2 gwd-img-vmxb" src="assets/camra.png">
  <img class="gwd-img-kbmb gwd-img-3oi2 gwd-img-vmxb gwd-img-33jb" src="assets/plus-icon-vector.png">
  <img class="gwd-img-6tjw" src="assets/plus-icon-vector.png"><span class="gwd-span-4ops">Add new place</span>
  <img class="gwd-img-gasa" src="assets/profile.png">
  <img class="gwd-img-gasa gwd-img-16td" src="assets/Settings.png">
</body>

</html>